*{
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
}
body {
    background: -webkit-gradient(linear, left top, left bottom, from(#008fb3), to(#ffe1e19c)) fixed;
}
#brand{
    color: rgb(0, 255, 255);
}
#table {
    display: none;
    margin-top: 50px;
    color: black;
}
tr td img{
    width: 35px;
}
#showAll:hover{
    color: #bfffff;
}
#alert{
    margin-top: -10px;
    display: none;
    text-align: center;
    font-size: 1.2rem;
    width: 50%;
    margin: 0 auto;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.buttonsNextPrevious {
    width: 150px;
    margin: 10px 20px;
}
#previous{
    display: none;
}
#next{
    display: inline;
}
#currnetPage{
    display: inline;
    color: black;
}
.filter {
    cursor: pointer;
}
.filter:hover{
    color: rgb(0, 255, 255);
    text-shadow: 1px 1px 4px black;
}
#loader{
    position: relative;
    height: 10vh;
    left: 45%;
    display: none;
}